body{
	margin: 0;

}
main{
	display: grid;
     grid-template-columns: repeat(12, [col-start] 1fr);
  gap: 20px;
}
h1{
	
}

h2{
	font-size: 32px;
}

h3{
	font-size: 24px;
}

.not-connected{
	display:none;
}

.badge-img img{
	max-height: 80px;
}

.banniere-img{
	max-height: 200px;
}

.banniere{
	margin: 0 !important;
	grid-column: 1 / 13;
}

.banniere-img img{
	width:100%;
	max-height: inherit;
	object-fit: cover;
}

section{
}

.actu-livre .lien-modal-apercu-livre img{
	max-height: 100px;
}

#section-actus-badges, #section-bibliotheque, .fil-actus, .bloc-actus-recentes,.badges-utilisateur, .bloc-badges, .badge-ligne, .bloc-bibliotheque{
	display: flex;
}

.bloc-actus-recentes, .fil-actus, .bloc-badges, .badges-utilisateur, #section-bibliotheque{
	flex-direction: column;
}

#section-actus-badges{
	justify-content: space-around; 
	grid-column: 2 / 12;
	display: grid;
	grid-template-columns: 60% 20% 20%;
	

}

 #section-bibliotheque{
 		grid-column: 2 / 12;
	display: grid;
	grid-template-columns: 1fr;
 }

.bloc-bibliotheque{
	justify-content: center;

}
.badge-ligne{
	max-width: 100%;
	align-items: center;

}

.fil-actus{
	grid-column: 1 / 2;
}

.badges-utilisateur{
	
		grid-column: 3 / 4;

}

.actu-ligne{
	align-items: center;
	max-width: 100%;
	display: grid;
    grid-template-columns: 100px auto 100px;
	margin-block: 5px;
	justify-items: start;
}

.profil-img, .badge-img{
	margin-right: 30px;
	float: left;
}
.actu-livre{
	margin-left: 30px;
	float: right;
}


.profil-img img{
	border-radius: 50%;
	width: 80px;
	height: 80px;
	max-height: 100px;		
}

.actu-content{
	float: left;
}

.livre-img img{
	max-width: 100%;
}

.livre-ligne{
	
}

.biblio-content .description{
	max-height: 10em;
	text-overflow: ellipsis;
	overflow: hidden;
    white-space: nowrap;
	line-height: 4px;
	border: 1px solid red;
	width: 100%;
}

.auteur a, .nom-livre a, .nom-utilisateur a{
	margin-left: 1ch;
	text-decoration: none;
	color: #a5602a;
	font-weight: 600;
}
.nom-livre a, .nom-utilisateur a{
	margin-left: 0;

}

.bloc-bibliotheque{
	display: grid;
	grid-template-columns: calc(25% - 15px) calc(25% - 15px) calc(25% - 15px) calc(25% - 15px);
	gap: 20px;
	grid-column: 1 / 5;
	margin-bottom: 20%;
}

.bloc-bibliotheque-titre, .bloc-actus-titre, .bloc-badges-titre{
	margin-left: -5ch;
}


.lien-modal-apercu-livre{
	display: flex;
}
